{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar mesa - Cuenta Clara</title>
    <link rel="stylesheet" href="{% static 'clases_CSS/Ajustes/styleAgregarMesa.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="box-card">
        <div class="title">
            <h2>Agregar mesa</h2> 
        </div>

        <form method="POST" action="{% url 'agregar_mesa' %}">
            {% csrf_token %}
            <div class="card">
                <label for="mesa-número">Número de mesa:</label>
                <input type="text" class="card-input" id="mesa-número" name="numero" placeholder="Asigna un número" required>
                <input type="hidden" id="mesa-color" name="color">
                <p>Elige el color de la mesa:</p>
            </div>

            <div class="color-box">
                <div class="colores-disponibles">  
                    <div>      
                        <button type="button" title="Gris claro" style="background-color: #DEE1E6FF;" onclick="seleccionarColor('#DEE1E6FF')"></button>
                        <button type="button" title="Salmón pastel" style="background-color: #E78A8AFF;" onclick="seleccionarColor('#E78A8AFF')"></button>
                        <button type="button" title="Naranja pastel" style="background-color: #E7965CFF;" onclick="seleccionarColor('#E7965CFF')"></button>
                        <button type="button" title="Amarillo pastel" style="background-color: #FFED66FF;" onclick="seleccionarColor('#FFED66FF')"></button>
                    </div>

                    <div>
                        <button type="button" title="Verde pastel" style="background-color: #98E78AFF;" onclick="seleccionarColor('#98E78AFF')"></button>
                        <button type="button" title="Morado pastel" style="background-color: #9E7CCFFF;" onclick="seleccionarColor('#9E7CCFFF')"></button>
                        <button type="button" title="Bugambilia pastel" style="background-color: #D05392FF;" onclick="seleccionarColor('#D05392FF')"></button>
                        <button type="button" title="Aqua pastel" style="background-color: #31A385FF;" onclick="seleccionarColor('#31A385FF')"></button>
                    </div>
                </div>
            </div>

            <div class="botones-container">
                <button type="submit" class="guardar-btn">Guardar</button>
                <a href="{% url 'editar_mesas' %}" class="guardar-btn cancelar-btn">Cancelar</a>
            </div>
        </form>

        {% if mensaje %}
        <div class="mensaje-confirmacion">
            <div class="mensaje-contenido">
                <p>{{ mensaje }}</p>
                <a href="{% url 'editar_mesas' %}" class="ok-btm">Ok</a>
            </div>
        </div>
        {% endif %}
    </div>

    <script>
        function seleccionarColor(color) {
            document.getElementById('mesa-color').value = color;
        }
    </script>
</body>
</html>
